<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Importaciones_SABS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Importaciones_SABS.styles.css" asp-append-version="true" />
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Boostrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/css/adminlte.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/lib/adminLte/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminLte/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/lib/adminLte/datatables-buttons/css/buttons.bootstrap4.min.css">
</head>
<body class="layout-navbar-fixed layout-fixed layout-footer-fixed" style="height: auto;">
    <div class="wrapper">

        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="bi bi-three-dots-vertical"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">

                    <a asp-controller="Home" asp-action="Inicio" class="nav-link"><i class="bi bi-house-heart-fill"></i> Inicio</a>
                </li>

            </ul>

        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a asp-controller="Home" asp-action="Inicio" class="brand-link">
                <img src="~/Imagenes/logo.jpeg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light"> SABS</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Imagenes/avatar3.png" class="img-circle elevation-2" alt="User Image">
                    </div>
                    <div class="info">
                        <a href="#" class="d-block">Camila Andrade</a>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->

                        <li class="nav-item ">
                            <a asp-controller="Usuario" asp-action="Listar" class="nav-link ">
                                <i class="nav-icon bi bi-person-lines-fill"></i>
                                <p>
                                    Gestión de Usuarios
                                </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="Clientes" asp-action="Listar" class="nav-link ">
                                <i class="nav-icon bi bi-people-fill"></i>
                                <p>
                                    Gestión de Clientes
                                </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="Proveedores" asp-action="Listar" class="nav-link ">
                                <i class="nav-icon bi bi-truck"></i>
                                <p>
                                    Gestión de Proveedores
                                </p>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a asp-controller="Productos" asp-action="Listar" class="nav-link ">
                                <i class="nav-icon bi bi-bag-heart-fill"></i>
                                <p>
                                    Gestión de Productos
                                </p>
                            </a>
                        </li>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /.content-wrapper -->
        <!-- Main Footer -->
        <footer class="main-footer">           
            <!-- Default to the left -->
            <strong>Copyright &copy; 2014-2022 <a href="https://adminlte.io">Importaciones_SABS</a>.</strong> Todos los derechos reservados.
        </footer>
    </div>




    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- AdminLTE App -->
    <script src="~/js/adminlte.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/lib/adminLte/datatables/jquery.dataTables.min.js"></script>
    <script src="~/lib/adminLte/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/adminLte/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/adminLte/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/lib/adminLte/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/adminLte/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/lib/adminLte/jszip/jszip.min.js"></script>
    <script src="~/lib/adminLte/pdfmake/pdfmake.min.js"></script>
    <script src="~/lib/adminLte/pdfmake/vfs_fonts.js"></script>
    <script src="~/lib/adminLte/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/adminLte/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/adminLte/datatables-buttons/js/buttons.colVis.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
